.popup__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(00, 00, 00, .2);
    line-height: 17px;
    font-size: 14px;
    outline: none;
    padding: 0 0 13px;
    margin-bottom: 30px;
}

.popup__input:last-of-type {
    margin-bottom: 48px;
}

@media screen and (max-width: 880px) {
    .popup__input:last-of-type {
        margin-bottom: 45px;
    }
}