.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    border-style: none;
    cursor: pointer;
    background: url(../../../images/Close.svg) 50%;
    padding: 0;
    background-size: 32px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .popup__close {
        background-size: 20px;
        width: 20px;
        height: 20px;
        margin: 0;
        right: 0;
    }
}