.popup__close {
    position: absolute;
    left: 100%;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-style: none;
    cursor: pointer;
    background: url(../../../images/Close.svg) 50%;
    padding: 0;
    margin: 8px;
    background-size: 32px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 880px) {
    .popup__close {
        background-size: 20px;
        width: 20px;
        height: 20px;
        margin: 0 0 16px;
        left: 92%;
    }
}