.popup__save {
    width: 358px;
    height: 50px;
    margin: 18px auto 0;
    background: #000000;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.popup__save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 880px) {
    .popup__save {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}